img.me {
    width: 100%;
  } 

div.me {
    margin: 5px;
} 

.about {
    text-align: center;
}

h2.about {
    padding: .2em
}

p.about {
    font-size: 1.2em;
    margin: auto .76em;
}

div#links {
    display: flex;
    justify-content: space-between;
    padding: 5% 1.5em 20% 1.5em;
    margin-bottom: 15%;
}
  