img.me {
    width: 100%;
  } 

div.me {
    margin: 5px;
} 

.about {
    text-align: center;

}
h1.about {
    padding: .3em;
}

h1.about span.reg {
    font-size: 1.5em;
}
h1.about span.bold {
    font-size: 1.8em;
}

h2.about {
    font-size: 1.76em;
    padding: .3em
}

p.about {
    font-size: 1.3em;
    margin: auto .76em;
    padding: .3em;
    background-color: var(--light);
}

div#links {
    display: flex;
    justify-content: space-between;
    padding: 5% 1.5em 0 1.5em;
    margin-bottom: 0;
}

.badge {
    margin: .5em;
    border-radius: 100%;
    background-color: var(--light);
    border: 1px double var(--yellow);
    height: 5.0em;
    width: 5.0em;
  }
  
  .badge:hover {
    background-color: var(--lblue);
  }
  
  .badge img {
    width: 60%;
  }
  
  img#li {
    margin: 1.2em 0 0 .3em;
  }
  
  img#gh {
    margin: 1em .1em 0 .2em;
  }
  
  img#so {
    margin: .7em 0 0 .1em;
  }
  
  