section.contact {
  display: flex;
  flex-wrap: wrap;
}
div.contact {
  display: flex;
  flex-wrap: wrap;
}
img#cameo {
  border-radius: 50%;
  max-width: 50%;
  padding: 0.3em;
  margin: 4% auto 2% 4%;
  border: 2px double var(--yellow);
  flex-grow: 1;
}
h1.contact {
  padding: 13% 5% 0 3%;
  flex-grow: 1;
}
code {
  font-family: var(--txt2);
}
h1.contact span.reg {
  font-size: 1.5em;
  padding-left: 0.3em;
}
h1.contact span.bold {
  font-size: 1.7em;
  font-weight: bold;
}
address {
  flex-grow: 2;
  font-size: 1.7em;
  font-family: var(--txt2);
  color: var(--light);
  background-color: black;
  border: 5px double var(--yellow);
  border-radius: 0.2em;
  /* min-width: 250px; */
  margin: auto 0.53em;
  padding: 3.5%;
  text-align: left;
}
#first {
  color: var(--light);
}
#mi-last {
  color: var(--pink);
}
#location {
  color: var(--dyellow);
}
#phone {
  color: var(--blue);
}
span#email a {
  color: var(--dneon);
}
span#email a:hover {
  color: var(--lneon);
}

/* MEDIA QUERY FOR SMALL DEVICES */
@media screen and (min-width: 400px) {
  img#cameo {
    max-width: 47%;
  }
  h1.contact span.reg {
    font-size: 1.7em;
  }
  h1.contact span.bold {
    font-size: 1.9em;
  }
  address {
    line-height: 1.1em;
    font-size: 2em;
  }
}
/* MEDIA QUERY FOR LARGE DEVICES */
@media screen and (min-width: 1350px) {
  section.contact {
    justify-content: center;
    border: 2px double var(--yellow);
    margin: 0 3%;
    padding: 3%;
  }
  div.contact {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  img#cameo {
    max-width: 30%;
  }
  h1.contact {
    width: 45%;
    float: right;
    font-size: 11em;
  }
  h1.contact span.reg {
    font-size: 2.2em;
  }
  h1.contact span.bold {
    font-size: 2.5em;
  }
  div#address {
    width: 60%;
  }
  address {
    max-width: 100%;
    font-size: 4em;
    padding: 2%;
    position: center;
  }
  span#email:hover a {
    color: var(--lneon);
  }
}

/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media screen and (min-width: 1900px) {
  h1.contact {
    font-size: 6.2em;
    padding: 3%;
  }
  address {
    font-size: 7em;
    padding: 1.5% 3%;
  }
}
