section.contact-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 1fr 5fr 0.25fr 5fr 0.5fr;
  grid-gap: 1%;
  justify-items: center;
  align-items: center;
  width: 100%;
}
div.contact {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
div#container {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  grid-gap: 1%;
  align-items: center;
}
img#cameo {
  grid-column: 2 / 9;
  border-radius: 50%;
  width: 100%;
  padding: 0.3em;
  border: 2px double var(--yellow);
}
h1.contact-title {
  grid-column: 10 / -2;
  width: 100%;
}
h1.contact-title span.reg {
  font-size: 1.5em;
  padding-left: 0.3em;
}
h1.contact-title span.bold {
  font-size: 1.7em;
  font-weight: bold;
}
div#address.contact {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  width: 95%;
}
address {
  font-size: 1.4em;
  font-family: var(--txt2);
  color: var(--light);
  background-color: black;
  border: 3px double var(--yellow);
  border-radius: 0.2em;
  padding: 3.5%;
  text-align: left;
  margin-bottom: 10%;
}
#first {
  color: var(--light);
}
#mi-last {
  color: var(--pink);
}
#location {
  color: var(--dyellow);
}
#phone {
  color: var(--blue);
}
span#email a {
  color: var(--dneon);
}
span#email a:hover {
  color: var(--lneon);
}
/* MEDIA QUERY 1 FOR SMALL DEVICES */
@media screen and (min-width: 450px) {
  h1.contact-title span.reg {
    font-size: 1.8em;
  }
  h1.contact-title span.bold {
    font-size: 2.1em;
  }
  div#address.contact {
    width: 90%;
  }
  address {
    font-size: 1.75em;
  }
}
/* MEDIA QUERY 2 FOR SMALL DEVICES */
@media screen and (min-width: 650px) {
  img#cameo {
    grid-column: 3 / 10;
  }
  h1.contact-title span.reg {
    font-size: 2.4em;
  }
  h1.contact-title span.bold {
    font-size: 2.6em;
  }
  address {
    font-size: 2.3em;
  }
}
/* MEDIA QUERY 1 FOR MEDIUM DEVICES */
@media screen and (min-width: 850px) {
  section.contact-container {
    grid-template-rows: 0.5fr 4fr 0 4fr 0;
  }
  h1.contact-title span.reg {
    font-size: 2.9em;
  }
  h1.contact-title span.bold {
    font-size: 3.2em;
  }
  address {
    font-size: 2.6em;
  }
}
/* MEDIA QUERY 2 FOR MEDIUM DEVICES */
@media screen and (min-width: 1050px) {
  h1.contact-title span.reg {
    font-size: 3.4em;
  }
  h1.contact-title span.bold {
    font-size: 3.6em;
  }
  address {
    font-size: 2.6em;
  }
}
/* MEDIA QUERY 1 FOR LARGE DEVICES */
@media screen and (min-width: 1250px) {
  section.contact-container {
    grid-template-rows: 0.25fr 4fr 0 4fr 0;
  }
  img#cameo {
    grid-column: 4 / 9;
    padding: 0.6em;
    border: 4px double var(--yellow);
  }
  h1.contact-title {
    grid-column: 9 / -2;
  }
  h1.contact-title span.reg {
    font-size: 3.6em;
    padding-left: 0.1em;
  }
  h1.contact-title span.bold {
    font-size: 3.8em;
  }
  div#address.contact {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    width: 85%;
  }
  address {
    font-size: 2.9em;
    border: 6px double var(--yellow);
    border-radius: 0.3;
  }
}
/* MEDIA QUERY 2 FOR LARGE DEVICES */
@media screen and (min-width: 1500px) {
  h1.contact-title span.reg {
    font-size: 4em;
  }
  h1.contact-title span.bold {
    font-size: 4.3em;
  }
  div#address.contact {
    width: 77%;
  }
  address {
    font-size: 3.1em;
  }
}
/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media screen and (min-width: 1900px) {
  h1.contact-title span.reg {
    font-size: 4.4em;
  }
  h1.contact-title span.bold {
    font-size: 4.6em;
  }
  address {
    font-size: 3.6em;
  }
}
