h1#home {
  padding: 1em 1em 3em 1em;
}
h1#home span.reg {
  font-size: 1em;
  text-align: center;
  display: block;
}
h1#home span.bold {
  font-size: 1.3em;
}
/* MEDIA QUERY FOR LARGE DEVICES */
@media screen and (min-width: 1350px) {
  h1#home {
    padding: 6.5em;
  }
  h1#home span.reg {
    font-size: 2em;
  }
  h1#home span.bold {
    font-size: 3.5em;
  }
}