* {
    margin: 0;
    padding: 0;
    font-family: var(--txt2);
    color: var(--dark);
}

:root {
    --dark: #4d4c4b;
    --dgrey: #6a6b6b;
    --lgrey: #b3b0b3;
    --llgrey: #d4d3ce;
    --light: #e9ecef;
    /* --lavender: #cec7d1; */
    /* --lgrey: #b8b6b5;
    --lgrey: #cec7d1; */
    --dneon: #aab34a;
    --neon: #bfcc2b;
    --lneon: #d2e603;
    --yellow:#fdf184;
    --dyellow: #fad000;
    /* CLI */
    --pink: #eb01eb;
    --dpink: #cf09ed;
    --blue: #80fff7;
    --lblue: #04f1f5;
    
    --txt1: 'Karla', sans-serif;
    --txt2: 'Inconsolata', monospace;
}    

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    /* > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    } */
}

#text {
    font-size: 1em;
    font-family: var(--txt1);
}

span#text {
    font-weight: bold;
}

header.container {
    /* background-color: var(--llgrey); */
    border: 1px double var(--yellow);
    color: var(--dark);
}

ol.breadcrumb {
    /* width: 100%; */
    border: 1px double var(--yellow);
}    

.intro-container {
    position: relative;
}

#bg-image {
    position: absolute;
    background: url("../images/portrait.jpg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
    opacity: 50%;
    width: 100%;
    height: 100%;
}

#greeting {
    font-family: var(--txt1);
    margin: 0;
    padding: 0;
    text-align: center;
}

#name {
    font-family: var(--txt1);
    margin-top: 14%;
    padding: 0;
    text-align: center;
    font-weight: bold;
}    

#tagline {
    /* padding: 5px; */
    margin: 0 20%;
    text-align: center;
    width: 70%;
    opacity: 100%;
}    

a {
    color: var(--dneon);
}

a:hover {
    color: var(--lneon);
}

#portrait {
    max-width: 30%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

#portrait img {
    /* border-radius: 0 0 50% 0; */
    width: 100%;
    /* border: 1px double var(--yellow); */
}

#carousel-container {
    width: 100%;
    /* padding: 0 5%; */
}

.carousel-item {
    width: 100%;
}

img.d-block.w-100 {
    opacity: .5;
}

img.d-block.w-100:hover {
    opacity: 1.0;
}

.carousel-caption {
    background-color: var(--light);
    border: 1px double var(--yellow);
    border-radius: 6px;
    width: 70%;
    padding: 0;
    margin: 0;
}

.carousel-caption h5 {
    padding: 5px 0 0 0;
    color: var(--dneon);
    font-family: var(--txt1);
}    

.carousel-caption p {
    color: var(--neon);
}    

#get-in-touch, #about-me, #featured-projects {
    text-align: center;
    padding: .7em 0 0 0;
}

#portrait-me {
    width: 100%;
    padding: 0;
    margin: 0;
}

#portrait-me img {
    width: 100%;
    /* border-radius: 6px; */
    border: 1px double var(--yellow);
}

#about-me p {
    text-align: center;
}

.portfolio {
    border: 1px double var(--yellow);
    padding: 0 0 1.0em 0;

}

.contact {
    border: 1px double var(--yellow);
    padding: 0 0 1.0em 0;

}

#contact-element {
    padding: .5em 0 0 0;
    margin: 0;
    text-align: center;
}

address {
    color: var(--light);
    background-color: black;
    border: 2px double var(--yellow);
    border-radius: 6px;
    min-width: 250px;
    margin: 0 9% 2% 9%;
    padding: 0;
}

#location {
    color: var(--dyellow);
}

#phone {
    color: var(--blue);
}

.badge {
    margin: .5em;
    border-radius: 100%;
    background-color: var(--light);
    border: 1px double var(--yellow);
    height: 5.0em;
    width: 5.0em;
}

.badge:hover {
    background-color: var(--dark);
}

.badge img {
    width: 60%;
}

img#li {
    margin: 1.2em 0 0 .3em;
}

img#gh {
    margin: .9em .1em 0 0;
}

img#pdf {
    border-radius: 100%;
    width: 90%;
    margin: .4em 0 .1em 0;

}

footer {
    font-family: var(--txt1);
    border: 1px double var(--yellow);
    text-align: center;
    max-height: 200px;
    min-height: 100px;
    padding: 5% 0;
}

/* MEDIA QUERY FOR SMALL DEVICES */
@media screen and (min-width: 576px) {
    #portrait {
        width: 50%;
    }

}

/* MEDIA QUERY FOR TABLETS AND MEDIUM DEVICES */
@media screen and (min-width: 768px) {
    #portrait {
        width: 45%;
    }
}

/* MEDIA QUERY FOR LARGE DEVICES */
@media screen and (min-width: 992px) {
    #portrait {
        width: 40%;
    }
}

/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media screen and (min-width: 1200px) {
    #portrait {
        width: 30%;
    }
}