* {
    margin: 0;
    padding: 0;
    font-family: var(--txt2);
    color: var(--dark);
}

:root {
    --dark: #4d4c4b;
    --dgrey: #6a6b6b;
    --lgrey: #b3b0b3;
    --llgrey: #d4d3ce;
    --light: #e9ecef;
    /* --lavender: #cec7d1; */
    /* --lgrey: #b8b6b5;
    --lgrey: #cec7d1; */
    --dneon: #aab34a;
    --neon: #bfcc2b;
    --lneon: #d2e603;
    --yellow:#fdf184;
    --dyellow: #fad000;
    /* CLI */
    --pink: #eb01eb;
    --dpink: #cf09ed;
    --blue: #80fff7;
    --lblue: #04f1f5;
    
    --txt1: 'Karla', sans-serif;
    --txt2: 'Inconsolata', monospace;
}    

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
}

/* MEDIA QUERY FOR SMALL DEVICES */
@media screen and (min-width: 576px) {
}
/* MEDIA QUERY FOR TABLETS AND MEDIUM DEVICES */
@media screen and (min-width: 768px) {
}
/* MEDIA QUERY FOR LARGE DEVICES */
@media screen and (min-width: 992px) {
}
/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media screen and (min-width: 1200px) {
}