section.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h1.projects {
  width: 100%;
  padding: 0.76em 0.3em 0.5em 0.4em;
}
h1.projects span.reg {
  font-size: 1.6em;
}
h1.projects span.bold {
  font-size: 1.76em;
}
div.card-container {
  background-color: var(--lolive);
  box-shadow: 0.4em 0.5em 1.5em 0.1em var(--lavender);
  /* margin: auto; */
  text-align: center;
  width: 90%;
  margin: 3%;
}
div.card-container h3 {
  color: var(--darker);
  margin: 0.4em;
  padding: 0.2em;
  font-size: 1.5em;
}
div.card-container p {
  font-size: 1.1em;
  background-color: var(--light);
  padding: 0.4em;
  text-align: center;
  margin: 0 0.45em;
}
img.card {
  width: 98%;
  margin: 0.3em;
  min-height: 20%;
}
/* possibly interfering with about-page */
div.project-links a {
  float: right;
  color: var(--dpink);
  font-family: var(--txt2);
  width: 50%;
  font-size: 2.3em;
  font-weight: 900;
  padding: 0.2em 0 0.7em 0;
  letter-spacing: 0.05em;
}
li a:hover {
  color: var(--pink);
  background-color: var(--lneon);
}
li a:focus {
  background-color: var(--lblue);
}
li a:active {
  color: var(--pink);
}
/* MEDIA QUERY FOR SMALL DEVICES */
@media only screen and (min-width: 500px) {
div.card-container {
  width: 44%;
}
div.card-container p{
  font-size: .9em;
}
}
/* MEDIA QUERY FOR SMALL DEVICES */
@media only screen and (min-width: 800px) {
  div.card-container {
    width: 30%;
    margin: 1%;
  }
}
/* MEDIA QUERY FOR SMALL DEVICES */
@media only screen and (min-width: 1200px) {
  div.card-container {
    width: 22%;
    margin: 1%;
  }
}
/* CSS for dark mode */
@media (prefers-color-scheme: dark) {
div.card-container {
  background-color: var(--lavender);
  box-shadow: 0.2em 0.3em 1em 0.1em var(--lgrey);
}
div.card-container h3 {
  color: var(--purple);
}
div.card-container p {
  color: var(--darker);
}
div.project-links a {
  color: var(--dneon);
}
li a:hover {
  color: var(--pink);
  background-color: var(--lneon);
}
li a:focus {
  background-color: var(--lneon);
}
li a:active {
  color: var(--pink);
}


}
