section.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div.card-container {
    box-shadow: .4em .5em 1.5em .1em var(--lavender);
    background-color: var(--light);
    margin: auto;
    text-align: center;
    width: 100%;
    margin: 3%;
}
img.card {
    width: 95%;
    margin: .3em;
    min-height: 20%;
}
h3 {
    background-color: var(--neon);
    color: var(--darker);
    margin: .4em;
    font-size: 1.5em;
}
p {
    background-color: var(--light);
    text-align: center;
    margin: 1em;
}
div.links a {
    float: right;
    width: 50%;
    font-size: 1em;
    font-weight: 900;
    padding: 1em 0;
}

