footer {
  position: relative;
  font-size: 1em;
  font-family: var(--txt1);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1em;
}
div#footer-layer {
  background: rgba(233, 236, 239, 0.8);
  width: 95%;
}
p#footer-text {
  padding: .5em;
  border: 1px double var(--yellow);
}
/* MEDIA QUERY FOR SMALL DEVICES */
@media screen and (min-width: 400W) {
    footer {
    font-size: 1.1em;
    padding: 2em;
  }
  div#footer-layer {
    width: 90%
  }
}
/* MEDIA QUERY FOR LARGE DEVICES */
@media screen and (min-width: 1350px) {
  footer {
    font-size: 1.2em;
    padding: 3em;
  }
  div#footer-layer {
    width: 75%
  }

  footer {
    font-size: 1.3em;
    padding: 4em;
  }
  p#footer-text {
    padding: 2%;
  }
}
/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media screen and (min-width: 1900px) {
  footer {
    font-size: 3.3em;
    padding: 5em;
  }
  div#footer-layer {
    width: 60%
  }
}
