html {
 height: 100%;
 box-sizing: border-box;
}

:root {
  --darker: #3d2e29;
  --dark: #4d4c4b;
  --dgrey: #6a6b6b;
  --lgrey: #b3b0b3;
  --llgrey: #d4d3ce;
  --light: #e9ecef;
  --lavender: #cec7d1;
  /* --lgrey: #b8b6b5;
  --lgrey: #cec7d1; */
  --dneon: #aab34a;
  --neon: #bfcc2b;
  --lneon: #d2e603;
  --yellow:#fdf184;
  --dyellow: #fad000;
  /* CLI */
  --pink: #eb01eb;
  --dpink: #cf09ed;
  --blue: #80fff7;
  --lblue: #04f1f5;
  
  --txt1: Karla, Latin, 'sans-serif';
  --txt2: Inconsolata, source-code-pro, Menlo, Monaco, Consolas, monoscript;
} 

body {
  margin: 0;
  font-family: var(--txt1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

main {
  text-align: center;
  height: inherit;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  color: var(--darker);
  box-sizing: inherit;
}

/* .no-gutters {
  margin-right: 0;
  margin-left: 0;
} */

a {
  color: var(--dneon);
}

li a:hover {
  color: var(--lneon);
  background-color: var(--lblue);
}

li a:focus {
  background-color: var(--pink);
}

li a:active {
  color: var(--lneon);
}

h1 {
  text-align: left;
  padding: 5%;
}

span.reg {
  font-size: 1.5em;
}

span.bold {
  font-size: 1.7em;
  font-weight: bold;
}

/* .portfolio {
  border: 1px double var(--yellow);
  padding: 0 0 1.0em 0;

} */
/* MEDIA QUERY FOR SMALL DEVICES */
@media screen and (min-width: 576px) {
  #portrait-me {
      width: 100%;
  }

}

/* MEDIA QUERY FOR TABLETS AND MEDIUM DEVICES */
@media screen and (min-width: 768px) {
  #portrait-me {
      width: 50%;
  }
}

/* MEDIA QUERY FOR LARGE DEVICES */
@media screen and (min-width: 992px) {
  #portrait-me {
      width: 25%;
  }
}

/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media screen and (min-width: 1200px) {
  #portrait-me {
      width: 30%;
  }
}
