ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 0.2em double var(--yellow);
}
li {
  float: right;
  width: 50%;
}
li a {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  text-decoration: none;
}
h1#home {
  font-size: 4em;
  padding: 1em;
  margin: 0;
  text-align: center;
  display: inline-block;
}

/* MEDIA QUERY FOR SMALL DEVICES */
@media screen and (min-width: 576px) {
  li {
    float: right;
    width: 25%;
  }
  li a {
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
  }
  #portrait-me {
    width: 100%;
  }
  h1#home {
    font-size: 5.7em;
    padding: 1em;
    margin: 0;
  }
}

/* MEDIA QUERY FOR TABLETS AND MEDIUM DEVICES */
@media screen and (min-width: 768px) {
  #portrait-me {
    width: 50%;
  }
  h1#home {
    font-size: 7.2em;
    padding: 1em;
    margin: 0;
  }
}

/* MEDIA QUERY FOR LARGE DEVICES */
@media screen and (min-width: 992px) {
  li {
    width: auto;
    font-size: 2em;
    padding: 2em;
  }
  ol {
    border-bottom: none;
  }
  #portrait-me {
    width: 25%;
  }
  h1#home {
    font-size: 8.2em;
    padding: 1em;
    margin: 0;
  }
}

/* MEDIA QUERY FOR EXTRA LARGE DEVICES */
@media screen and (min-width: 1200px) {
  #portrait-me {
    width: 30%;
  }
  h1#home {
    font-size: 10em;
    padding: 1em;
    margin: 0;
  }
}
