ol#navbar {
  list-style-type: none;
  overflow: hidden;
  border-bottom: 0.2em double var(--yellow);
}
li#navitem {
  float: right;
  width: 50%;
}
li a {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  text-decoration: none;
  color: var(--dneon);
}
li a:hover {
  color: var(--pink);
  background-color: var(--lblue);
}
li a:active {
  color: var(--lneon);
}
/* MEDIA QUERY FOR SMALL DEVICES */
@media only screen and (min-width: 500px) {
  li#navitem {
    width: 25%;
  }
}
/* MEDIA QUERY FOR MEDIUM DEVICES */
@media only screen and (min-width: 850px) {
  li#navitem {
    width: 15%;
  }
}
/* MEDIA QUERY FOR LARGE DEVICES */
@media only screen and (min-width: 1200px) {
  ol#navbar {
    border: none;
  }
  li#navitem {
    width: 12%;
  }
}
@media only screen and (min-width: 1600px) {
  li#navitem {
    margin-top: 1.8%;
    margin-right: 1.8%;
    width: 8%;
  }
}
@media only screen and (min-width: 1900px) {
  li#navitem {
    font-size: 1.6em;
    margin-top: 3%;
    margin-right: 5%;
    width: 7%;
  }
}